.thumb {
    float: left;
    max-width: 100px;
    max-height: 100px;
}

.description {
    float: right;
}

.price {
    font-weight: bold;
    width: 100%;
    text-align: right;
    float: right;
}

.add-to-cart {
    float: right;
}