.thumb {
    float: left;
    max-width: 100px;
    max-height: 100px;
}

.description {
    float: right;
}

.price {
    font-weight: bold;
    width: 100%;
    text-align: right;
    float: right;
}

.cart {
    float: right;
}

.amount {
    width: 50px;
}

.product-row{
    width: 100%;
    float: top;
    display: inline-block;
}

.item-title {
    text-shadow:
        /*-1px -1px #000,  
         1px -1px #000,
        -1px  1px #000,*/
         1px  1px #000;
}

.very_common {
    color: #b5b2b5;
}

.common {
    color: #8cffc5;
}

.rare {
    color: #ad8aff;
}

.very_rare {
    color: #f78aef;
}