.thumb {
    float: left;
    max-width: 115px;
    max-height: 115px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.searchbar {
    z-index: 100;
}

.searchspace {
    height: 100px;
}

.product-image {
    float: left;
    max-width: 265px;
    max-height: 265px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.product-container {
    width: 100%;
    display: inline-block;
}

.description {
    float: top;
    display: inline;
}

.price {
    font-weight: bold;
    width: 100%;
    text-align: right;
    float: right;
}

.cart {
    width: 100%;
    text-align: right;
    float: right;
}

.amount {
    width: 50px;
}

.product-row{
    width: 100%;
    float: top;
    display: inline-block;
}

.item-title {
    text-shadow:
         1px  1px #000;
}

.very_common {
    color: #b5b2b5;
}

.common {
    color: #8cffc5;
}

.rare {
    color: #ad8aff;
}

.very_rare {
    color: #f78aef;
}

#shoppingCart {
	position: fixed;
    z-index: 200;
    display: none;
}

.cartItemTitle {
    float: left;
    width: 65%;
}

.cartAmount {
    float: left;
    width: 15%
}

.cartPrice {
    font-weight: bold;
    float: left;
    width: 15%;
}